{% extends 'blog/base.html' %}
<html>
{% block content %}
<div class="profile">
    <h1>welcome!</h1>
</div> 

<div class="mainL">
    <h3>articles</h3>
    <div class="containerp">
        {% for post in posts %} 
        <div class="tile is-ancestor is-vertical">
            <div class="tile is-parent is-vertical">
                <div class="tile is-child box is-5" style="width:500px;">
                    <div class="post">
                        <div class="date">
                            {{ post.published_date }}
                        </div>
                        <h2><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h2>
                        <p style="font-size: width:400px; font-size:12px;overflow:hidden ;white-space:nowrap; text-overflow:ellipsis;">{{ post.text }}</p> <!--use the hover extra box thing--></div>
                    </div>
                    {% endfor %} 
        </div>

        

    
</div>
</div>


    {% endblock %}

</html>