
{% extends 'blog/base.html' %}

<html>
{% block content %}


<div class="profile"style="margin:5px;">
    <div class="level">
        <div class="level-item has-text-centered">
            <img class="myphoto" src="/static/images/ilus1.png" width="40%" height="40%">
        </div>
    </div>
</div>

<div class="container is-fluid" style="margin:5px;" >
        <div class="level">
            <div class="level-item has-text-centered">
        <p><b style="font-size:30px">Welcome to my blog!</b><br>
        I am putting all the artsy and opinion related things I've been doing 
            during this pandemic. <br> Want to see other things? 
            Feel free to check out <b>my social media on the links below</b> 
            <br><i class="fas fa-heart" style="color:#b3b388;"></i>
            <i class="fas fa-heart" style="color:#ffb7ce;"></i>
            <i class="fas fa-heart" style="color:#b3b388;"></i>
        </p>
    </div></div>
</div>

<div class="profile" ><br>
    <div class="level">
        <div class="level-item has-text-centered">
    <div class="tags are-medium " >
        <span class="tag is-white box">
            <a href="https://www.instagram.com/amelianadira99/"><i class="fas fa-hashtag"></i><b>instagram</b></a>
        </span>
        <span class="tag is-white box">
            <a href="https://brhenti.wordpress.com/"><i class="fas fa-hashtag"></i><b>wordpress</b></a>
        </span>
        <span class="tag is-white box">
            <a href="https://www.linkedin.com/in/nadiraamelia/"><i class="fas fa-hashtag"></i><b>linkedin</b></a>
        </span></div></div>
</div>


   <div class="container is-fluid">
       
                {% for post in posts %} 
                <div class="tile is-ancestor  is-vertical " >
                    <div class="tile is-parent   is-vertical " >
                        <div class="tile is-child box " >
                            <div class="post">
                                <div class="date">
                                    {{ post.published_date }}
                                </div>
                                <h4>
                                <a class="titleLink" href="{% url 'post_detail' pk=post.pk %}" style="font-size:30px;;">
                                <b>{{ post.title }}</b></a>
                                <p style="font-size:15px;overflow:hidden ;white-space:nowrap; text-overflow:ellipsis;">
                                {{ post.text }}
                                </p> 
                            </div>
                        </div>
                    {% endfor %} 
                </div>
            
        
    </div>



{% endblock %}


    

</html>