
{%load static%}
/*base*/


.navlogo{
    font-weight: bold;
    font-size:20px;
    text-align: center;
    
    
}





/*post list*/

.profile{
    background-image:url('/static/images/profilecov.jpg');
    height:100%;
    width:100%;
    background-size: cover;
    background-position:center;
    text-align:center;
    display: inline-block;
    padding:10px;
    
}

.postBox{
    width:600px;
}


.mainL{
    text-align: center;
}
.containerp{
    display:inline-block;
    margin:10px;
    padding:10px;

}

a:hover{
    color:#beebe9;
}

/*post detail*/
.fulltext{
    
    margin-left:10px;
    margin-right:10px;
}

@media only screen and (max-width:600px){
  
   
    .postBox{
        width:330px;
    }

    .myphoto{
        width:150px;
        height:150px;
    }

}

@media only screen and (max-width:3000px){
    
    .myphoto{
        width:200px;
        height:200px;

}