.profile{
    background-image:url('/static/profilecov.jpg');
    margin-top: 0;
    height:400px;
    width:100%;
    background-size: cover;
    background-position:center;
    text-align:center;
    display:inline-block;
}





.date{
    color:pink;
    font-size: 10px;
}