

p{
    word-wrap:break-word;
}

.nav {
    background-color:black;
    margin-top: 0;
    padding: 10px 10px 10px 10px;
}

.profile{
    background-image:url('/static/profilecov.jpg');
    margin-top: 0;
    height:400px;
    width:100%;
    background-size: cover;
    background-position:center;
    text-align:center;
    display:inline-block;
}

.main{
    background-color: black;
}
.bg{
    float:left;
    background-color: black;
}
.containP{
    background-color: blanchedalmond ;
    padding:10px;
    width:300px;
    height:400px;
    float:right;
}


.date{
    color:pink;
    font-size: 10px;
}